td {
    /* padding: 0.2em; */
    text-align: center;
    width: 1.25em;
}

tr {
    background-color: white;
    border: none;
    color: blue;
    padding: 0em 0em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25em;
}

td.left {
    border-left: 2px solid gray;
    width: 0.5em;
}

td.topLeft {
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    width: 0.5em;
}

td.bottomLeft {
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    width: 0.5em;
}

td.right {
    border-right: 2px solid gray;
    width: 0.5em;
}

td.bottomRight {
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    width: 0.5em;
}

td.topRight {
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    width: 0.5em;
}

table tr {
    display: table-cell;
}

table tr td {
    display: block;
}

#table {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    width: auto;
    padding: 0.5em 1em;
    border: groove;
    border-radius: 0.2em;
    background-color: #f1f1f1;
}